html {
  height: 100%;
  width: 100%;
}

body{  
  background-color:white;
}

/*header*/
.header{
  color:black;
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  padding-bottom: 20px;
}

/*registartion form css*/
.registration_form{
  font-family: 'Libre Baskerville', serif;
  color:black;
}

