/*start of css  */
.html {  
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.body{
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*background*/
  background: white;
}
/*landing page*/
.landingPage{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid black;
  padding: 120px;
  text-align: center;
}
/*landing page header*/
.landingPageHeader{
  color:black;
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  font-size: 50px;
}
/*landing page confermation text*/
.confirmationMesssage{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
  display: block;
  white-space: nowrap;
  text-align: center;
}

/*login page button and text*/
.loginPageButton{
  margin: auto;
  width: 50%;
  float: center;
  padding: 10px;
  color:black;
  text-align: center;
}

/*navbar below*/
.topnav {
  overflow: auto;
  background-color: #13131a;
}
.topnav {
  background-color: #333;
  overflow: hidden;
}
.topnav a { 
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 33.33%;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: blue;
  color: white;
}
.topnav .icon { 
  display: none;
}

/*website name header*/
.header{
  color:black;
  font-family: 'Libre Baskerville', serif;
  text-align: center;
}

/*game page header*/
.pageHeader{
  color:black;
  font-family: 'Libre Baskerville', serif;
  text-align: center;
}

/*registartion form css*/
.registrationForm{
  margin: auto;
  width: 50%;
  padding: 10px;
  font-family: 'Libre Baskerville', serif;
  color:black;
  text-align: center;
}
/*registartion form button*/
.RegisterButton{
  margin-top: 5px;
}

/*shooter button  */
.shooterButton {
  margin-left:5%;
  background-color: transparent;
  width: 40%;
  border: none;
}
.shooterIMG:hover{opacity: 0.6}
/*shooter button */
.pongButton{
  float:right;
  border: none;
  display: inline-block;
  background-color: transparent;
  width: 40%;
  margin-right: 5%;
}
.pongIMG:hover{opacity: 0.6}

/*game names*/
/*shooter header*/
.shooterHeader{
  padding-top:10px;
  font-family: 'Libre Baskerville', serif;
}
/*pong header*/
.pongHeader{
   font-family: 'Libre Baskerville', serif;
}

/*confirmation messsage*/
.confirmationMesssage{
  font-family: 'Libre Baskerville', serif;
  margin-top: 20px;
}


/*highscores items*/
/*shooter game*/
.shooterGameHighScores{
  margin-left:5%;
  text-align: center;
  float:left;
  padding: 20px;
  box-sizing: border-box;
  width: 40%;
}
/*pong game*/
.pongHighScores{
  text-align: center;
  margin-right: 5%;
  float:right;
  padding: 20px;
  box-sizing: border-box;
  width: 40%;
}

/*log out button*/
.LogOutButton{
  position: absolute;
  top: 10px;
  left: 10px;
}
/*end of css*/