html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body{  
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*background */
  background: white;
}

/*login page button and text*/
.login_page_button{
  margin: auto;
  width: 50%;
  padding: 10px;
  color:black;
  text-align: center;
}
/* page headers */
.header{
  color:black;
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  padding-bottom: 20px;
}

/*game page header*/
.pageHeader{
  color:black;
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  padding-bottom: 20px;
}

/*registartion form css*/
.registration_form{
  margin: auto;
  width: 50%;
  padding: 10px;
  font-family: 'Libre Baskerville', serif;
  color:black;
  text-align: center;
}

.RegisterButton{
  margin-top: 5px;
}
/*game button items*/
.shooterButton {
  margin-left:5%;
  background-color: transparent;
  width: 40%;
  border: none;
}
.pongButton{
  float:right;
  border: none;
  display: inline-block;
  background-color: transparent;
  width: 40%;
  margin-right: 5%;
}
.shooterButton:hover{opacity: 0.6}
.pongButton:hover{opacity: 0.6}

/*game names*/
.shooterHeader{
  padding-top:10px;
 font-family: 'Libre Baskerville', serif;
}
.pongHeader{
   font-family: 'Libre Baskerville', serif;
}

